
html,body {
    background-color: #cec489;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth; 
}
hr{
    border-style: dotted dashed;
    width: 60%;
    background-color: none;
    color: rgb(18, 24, 82);
    border-width: 4px;

}
.myName{
    color: #774f04;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ravi{
    color: rgb(43, 83, 43);
}
#about
{
    text-align: center;
}
#Education
{
    margin-left: auto;
    margin-right: auto;
}
#Softwares
{
    margin-left: auto;
    margin-right: auto;
}
.pic
{
    padding: 5px;
    background-color: #8a8849 ;
    border-radius: 50%;
}
.col{
    display: grid;
}
































































































































